@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/friends.css";
@import "components/user-component.css";
@import "components/badge.css";
/* Screens */
@import "screens/login.css";

body {
  font-family: "Open Sans", sans-serif;
  height: 200vh;
  color: #2e363e;
}
.main-screen {
  padding: 0px var(--horizontal-space);
}
