.icon-row {
  display: flex;
  justify-content: space-between;

  padding-bottom: 25px;
}
.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-row__icon i {
  font-size: 35px;
}
.icon-row span {
  margin-top: 15px;
}
