.nav {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
  color: #2e363e;
}
.nav__notification {
  position: absolute;
  left: 15px;
  bottom: 15px;
}
.nav__dot {
  display: flex;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 15px;
  background-color: tomato;
  left: 30px;
  bottom: 30px;
}
